@tailwind base;
@tailwind components;
@tailwind utilities;

  /* CSS for desktop view */
  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  
  /* CSS for mobile view */
  @media (max-width: 768px) {
    .table-container {
      overflow-x: auto;
    }
    .ant-table {
      overflow-x: auto;
    }
    .ant-table-pagination {
      display: flex;
      justify-content: center;
    }
    .ant-pagination-item,
    .ant-pagination-prev,
    .ant-pagination-next {
      margin: 0 2px;
    }
  }

/* For mobile devices */
@media (max-width: 767px) {
  .table-container2 {
    overflow-x: auto;
  }
  .ant-table {
    min-width: 100%;
  }
}

/* For tablets and larger devices */
@media (min-width: 768px) {
  .table-container2 {
    overflow-x: auto;
  }
  .ant-table {
    min-width: 600px;
  }
}
  